In [1]:
# Below are the libraries that are used in order to perform EDA (Exploratory data analysis).
import pandas as pd
import numpy as np
import seaborn as sns                       #visualisation
import matplotlib.pyplot as plt             #visualisation

from os import listdir
from os.path import isfile, join

## Klasördeki Excel dosyalarını seçer ve tüm excel dosyalarını tek DataFrame e dönüştürür

In [2]:
mypath = r"C:\Users\Erdinc\Desktop\DATA_SCIENCE\01_BANKA\DATA"
files = listdir(mypath)
xls_files = []
#print(files)
for file in files:
    if ".xls" in file:
        xls_files.append(file)
    elif ".xlsx" in file:
        xls_files.append(file)
#print(xls_list)

#her exceli ayrı dataframe yapar ve dataFramelist listesinde tutar
dataFramelist = []
abnAmro = pd.DataFrame() #boş dataFrame
#
for xls_file in xls_files:
    #file = mypath + "\\" + xls_file
    #dataFramelist.append(exec("dFrame_{} = pd.read_excel(file)".format(i)))
    dataFramelist.append(pd.read_excel(mypath + "\\" + xls_file))
    #exec("dFrame_{}".format(i))

#tüm listenin içindeki dataframeleri tek bir abnAmro dataframe ine dönüştürür.

print("Files:", end= " ")
for i in xls_files:
    print(i,end=" ")
print("have been converted to dataframe.\n")

abnAmro = pd.concat(dataFramelist)
abnAmro    

#data_dict[i] = pd.read_excel(mypath + "\\" + xls_file)

Files: ABNAMRO_20220101_20230101.xls ABN_AMRO_DATA.xls XLS230109103200.xls XLS230125124527.xls have been converted to dataframe.

,accountNumber,mutationcode,transactiondate,valuedate,startsaldo,endsaldo,amount,description
0,887098665,EUR,20220103,20220103,6642.17,6572.90,-69.27,SEPA Incasso algemeen doorlopend Incassant: NL...
1,887098665,EUR,20220103,20220103,6572.90,6571.30,-1.60,SEPA Incasso algemeen doorlopend Incassant: NL...
2,887098665,EUR,20220103,20220103,6571.30,6512.70,-58.60,SEPA Incasso algemeen doorlopend Incassant: NL...
3,887098665,EUR,20220103,20220103,6512.70,6785.75,273.05,SEPA Overboeking IBAN: NL16RAB...
4,887098665,EUR,20220104,20220104,6785.75,6781.36,-4.39,SEPA Incasso algemeen doorlopend Incassant: NL...
...,...,...,...,...,...,...,...,...
39,887098665,EUR,20230124,20230124,3407.95,3398.45,-9.50,/TRTP/SEPA Incasso algemeen doorlopend/CSID/NL...
40,887098665,EUR,20230124,20230124,3398.45,3386.95,-11.50,/TRTP/SEPA Incasso algemeen doorlopend/CSID/NL...
41,887098665,EUR,20230124,20230124,3386.95,3354.43,-32.52,"BEA, Betaalpas Jumbo Eindhov..."
42,887098665,EUR,20230124,20230124,3354.43,3314.43,-40.00,"GEA, Betaalpas Geldmaat Meer..."
43,887098665,EUR,20230125,20230125,3314.43,9049.45,5735.02,/TRTP/SEPA OVERBOEKING/IBAN/NL98RABO0340894121...

## Klasördeki Excel dosyalarını seçer ve tüm excel dosyalarını tek DataFrame e doönüştürür

In [3]:
#mypath = r"C:\Users\Erdinc\Desktop\DATA_SCIENCE\01_BANKA\DATA"
#onlyfiles = [f for f in listdir(mypath) if isfile(join(mypath, f))]
#print(f)

In [4]:
#abnAmro = pd.read_excel("DATA/ABN_AMRO_DATA.xls")
df =abnAmro.copy()
df.columns = map(str.capitalize, df.columns)
df.drop_duplicates(inplace=True)
df

,Accountnumber,Mutationcode,Transactiondate,Valuedate,Startsaldo,Endsaldo,Amount,Description
0,887098665,EUR,20220103,20220103,6642.17,6572.90,-69.27,SEPA Incasso algemeen doorlopend Incassant: NL...
1,887098665,EUR,20220103,20220103,6572.90,6571.30,-1.60,SEPA Incasso algemeen doorlopend Incassant: NL...
2,887098665,EUR,20220103,20220103,6571.30,6512.70,-58.60,SEPA Incasso algemeen doorlopend Incassant: NL...
3,887098665,EUR,20220103,20220103,6512.70,6785.75,273.05,SEPA Overboeking IBAN: NL16RAB...
4,887098665,EUR,20220104,20220104,6785.75,6781.36,-4.39,SEPA Incasso algemeen doorlopend Incassant: NL...
...,...,...,...,...,...,...,...,...
39,887098665,EUR,20230124,20230124,3407.95,3398.45,-9.50,/TRTP/SEPA Incasso algemeen doorlopend/CSID/NL...
40,887098665,EUR,20230124,20230124,3398.45,3386.95,-11.50,/TRTP/SEPA Incasso algemeen doorlopend/CSID/NL...
41,887098665,EUR,20230124,20230124,3386.95,3354.43,-32.52,"BEA, Betaalpas Jumbo Eindhov..."
42,887098665,EUR,20230124,20230124,3354.43,3314.43,-40.00,"GEA, Betaalpas Geldmaat Meer..."
43,887098665,EUR,20230125,20230125,3314.43,9049.45,5735.02,/TRTP/SEPA OVERBOEKING/IBAN/NL98RABO0340894121...

In [5]:
df.reset_index(drop=True, inplace=True)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1410 entries, 0 to 1409
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Accountnumber    1410 non-null   int64
 1   Mutationcode     1410 non-null   object
 2   Transactiondate  1410 non-null   int64
 3   Valuedate        1410 non-null   int64
 4   Startsaldo       1410 non-null   float64
 5   Endsaldo         1410 non-null   float64
 6   Amount           1410 non-null   float64
 7   Description      1410 non-null   object
dtypes: float64(3), int64(3), object(2)
memory usage: 88.2+ KB

In [7]:
df.Accountnumber.unique()

array([887098665], dtype=int64)

# Dropping irrelevant columns

In [8]:
to_drop = ["Accountnumber","Mutationcode","Valuedate"]
df.drop(to_drop,inplace=True,axis = 1)

In [9]:
#Tanımlamalar
column_rename = {"Transactiondate":"Date",
                 "Startsaldo":"StartBalance",
                 "Endsaldo":"EndBalance"}
df = df.rename(columns=column_rename)
df

,Date,StartBalance,EndBalance,Amount,Description
0,20220103,6642.17,6572.90,-69.27,SEPA Incasso algemeen doorlopend Incassant: NL...
1,20220103,6572.90,6571.30,-1.60,SEPA Incasso algemeen doorlopend Incassant: NL...
2,20220103,6571.30,6512.70,-58.60,SEPA Incasso algemeen doorlopend Incassant: NL...
3,20220103,6512.70,6785.75,273.05,SEPA Overboeking IBAN: NL16RAB...
4,20220104,6785.75,6781.36,-4.39,SEPA Incasso algemeen doorlopend Incassant: NL...
...,...,...,...,...,...
1405,20230124,3407.95,3398.45,-9.50,/TRTP/SEPA Incasso algemeen doorlopend/CSID/NL...
1406,20230124,3398.45,3386.95,-11.50,/TRTP/SEPA Incasso algemeen doorlopend/CSID/NL...
1407,20230124,3386.95,3354.43,-32.52,"BEA, Betaalpas Jumbo Eindhov..."
1408,20230124,3354.43,3314.43,-40.00,"GEA, Betaalpas Geldmaat Meer..."
1409,20230125,3314.43,9049.45,5735.02,/TRTP/SEPA OVERBOEKING/IBAN/NL98RABO0340894121...

# Tarihleri date formatina dönüştürüyor

In [10]:
df["Date"] = pd.to_datetime(df["Date"], format="%Y%m%d")
#df["valueDate"] = pd.to_datetime(df.valueDate, format="%Y%m%d")
df.sort_values(["Date"], ignore_index=True, inplace=True)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1410 entries, 0 to 1409
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          1410 non-null   datetime64[ns]
 1   StartBalance  1410 non-null   float64
 2   EndBalance    1410 non-null   float64
 3   Amount        1410 non-null   float64
 4   Description   1410 non-null   object
dtypes: datetime64[ns](1), float64(3), object(1)
memory usage: 55.2+ KB

In [12]:
df["Date"].dt.month_name()

0          July
1          July
2          July
3          July
4          July
         ...
1405    January
1406    January
1407    January
1408    January
1409    January
Name: Date, Length: 1410, dtype: object

In [13]:
df.Date.dt.year

0       2021
1       2021
2       2021
3       2021
4       2021
        ...
1405    2023
1406    2023
1407    2023
1408    2023
1409    2023
Name: Date, Length: 1410, dtype: int64

In [14]:
df.loc[df["Amount"] > 0,["Debit/credit"]] = "Credit"
df.loc[df["Amount"] < 0,["Debit/credit"]] = "Debit"

In [15]:
df = df.assign(Day = df["Date"].dt.day_name())
df = df.assign(Month = df["Date"].dt.month_name())
df = df.assign(Year = df["Date"].dt.year)
df = df.assign(Label = "None")
df = df.assign(BankName ="ABN AMRO")
#df.loc[0:,["Amount"]][df["Amount"] < 0].eval("Amount= Amount * -1")
df["Amount (EUR)"] = df["Amount"].apply(lambda x : x*-1 if x<0 else x*1)
df

,Date,StartBalance,EndBalance,Amount,Description,Debit/credit,Day,Month,Year,Label,BankName,Amount (EUR)
0,2021-07-09,34839.01,34838.52,-0.49,BEA NR:N179K7 09.07.21/12.55 Jumbo Eindh B...,Debit,Friday,July,2021,None,ABN AMRO,0.49
1,2021-07-09,34796.68,34786.84,-9.84,"BEA NR:4QKP08 09.07.21/20.32 Jumbo 229276,...",Debit,Friday,July,2021,None,ABN AMRO,9.84
2,2021-07-09,34799.37,34796.68,-2.69,BEA NR:96BS02 09.07.21/19.26 GAMMA Son en ...,Debit,Friday,July,2021,None,ABN AMRO,2.69
3,2021-07-09,34838.52,34817.84,-20.68,"BEA NR:72327610 09.07.21/13.26 Action 1235,P...",Debit,Friday,July,2021,None,ABN AMRO,20.68
4,2021-07-09,34817.84,34804.97,-12.87,BEA NR:N179K7 09.07.21/13.52 Jumbo Eindh B...,Debit,Friday,July,2021,None,ABN AMRO,12.87
...,...,...,...,...,...,...,...,...,...,...,...,...
1405,2023-01-24,3407.95,3398.45,-9.50,/TRTP/SEPA Incasso algemeen doorlopend/CSID/NL...,Debit,Tuesday,January,2023,None,ABN AMRO,9.50
1406,2023-01-24,3398.45,3386.95,-11.50,/TRTP/SEPA Incasso algemeen doorlopend/CSID/NL...,Debit,Tuesday,January,2023,None,ABN AMRO,11.50
1407,2023-01-24,3386.95,3354.43,-32.52,"BEA, Betaalpas Jumbo Eindhov...",Debit,Tuesday,January,2023,None,ABN AMRO,32.52
1408,2023-01-24,3354.43,3314.43,-40.00,"GEA, Betaalpas Geldmaat Meer...",Debit,Tuesday,January,2023,None,ABN AMRO,40.00
1409,2023-01-25,3314.43,9049.45,5735.02,/TRTP/SEPA OVERBOEKING/IBAN/NL98RABO0340894121...,Credit,Wednesday,January,2023,None,ABN AMRO,5735.02

In [ ]:
df.loc[df["Description"].str.contains("IBAN")]

In [ ]:
df.groupby("Year").describe().T

In [ ]:
df["Description"].convert_dtypes()

In [ ]:
df.info()

## Missing Data

In [53]:
missing_data = df.isnull()
missing_data.head(5)

,Date,StartBalance,EndBalance,Amount,Description,Debit/credit,Day,Month,Year,Label,BankName,Amount (EUR)
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False

In [47]:
df.isnull().columns.values.tolist()
type(missing_data["Date"].value_counts())

pandas.core.series.Series

In [15]:
print(missing_data.columns.values.tolist())
for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

['Date', 'StartBalance', 'EndBalance', 'Amount', 'Description', 'Debit/credit', 'Day', 'Month', 'Year', 'Label', 'BankName', 'Amount (EUR)']
Date
False    1410
Name: Date, dtype: int64

StartBalance
False    1410
Name: StartBalance, dtype: int64

EndBalance
False    1410
Name: EndBalance, dtype: int64

Amount
False    1410
Name: Amount, dtype: int64

Description
False    1410
Name: Description, dtype: int64

Debit/credit
False    1410
Name: Debit/credit, dtype: int64

Day
False    1410
Name: Day, dtype: int64

Month
False    1410
Name: Month, dtype: int64

Year
False    1410
Name: Year, dtype: int64

Label
False    1410
Name: Label, dtype: int64

BankName
False    1410
Name: BankName, dtype: int64

Amount (EUR)
False    1410
Name: Amount (EUR), dtype: int64

# LABEL ATAMA

In [ ]:
df.loc[(df["Amount"]>0) & (df["Description"].str.contains("Sioux Expats", case= False)),["Label"]] = "Income"

In [ ]:
df.loc[(df["Amount"]>0) & (df["Description"].str.contains("KINDERBIJSLAG", case = False)),["Label"]] = "Kinderbijslag"

In [ ]:
df.loc[(df["Amount"]>0) & (df["Label"] == "None"),["Label"]] = "Other"

In [ ]:
df.loc[(df["Amount"]<0) & (df["Description"].str.contains("Ozturk | Izmir | Izzet | Can Slagerij", case= False)),["Label"]] = "Turk market"

In [ ]:
df.loc[(df["Amount"]<0) & (df["Description"].str.contains("TAMOIL | Shell | TINQ | TotalEnergies | Total | Esso", case= False)),["Label"]] = "Fuel"

In [ ]:
df.loc[(df["Amount"]<0) & (df["Description"].str.contains("Jumbo | Albert Heijn |Lidl | Nettorama | Aldi", case= False)),["Label"]] = "Supermarket"

In [ ]:
df.loc[(df["Amount"]<0) & (df["Description"].str.contains("Action | hema | Praxis | solow | Gamma | Ikea | Hornbach | PRIMARK | FirstXL | H&M | Primera | So-Low | Wibra | ETOS",case= False)),
       ["Label"]] = "Store"

In [ ]:
df.loc[(df["Amount"]<0) & (df["Description"].str.contains("McDonald's | the Post | Oakwood | la Toscana | the Brand | Arif", case= False)),["Label"]] = "Restaurant"

In [ ]:
df.loc[(df["Amount"]<0) & (df["Description"].str.contains("Kruidvat", case= False)),["Label"]] = "Kruidvat"

In [ ]:
df.loc[(df["Amount"]<0) & (df["Description"].str.contains("Holland & Barrett", case= False)),["Label"]] = "Holland & Barrett"

In [ ]:
df.loc[(df["Amount"]<0) & (df["Description"].str.contains("Decathlon", case= False)),["Label"]] = "Decathlon"

In [ ]:
df.loc[(df["Amount"]<0) & (df["Description"].str.contains("iDEAL", case= False)),["Label"]] = "Online Shopping"

In [ ]:
df.loc[(df["Amount"]<0) & (df["Description"].str.contains("Debit", case= False)),["Label"]] = "ABN AMRO Bank Expense"

In [ ]:
df.loc[(df["Amount"]<0) & (df["Description"].str.contains("Youfone", case= False)),["Label"]] = "Youfone"

In [ ]:
df.loc[(df["Amount"]<0) & (df["Description"].str.contains("TOYS", case= False)),["Label"]] = "Toys"

In [ ]:
df.loc[(df["Amount"]<0) & (df["Description"].str.contains("NL93INGB0000724779 | NL07RABO0123168686 | Doga | Step by Step", case= False)),["Label"]] = "Doga Tasel"

In [ ]:
df.loc[(df["Amount"]<0) & (df["Description"].str.contains("Sioux", case= False)),["Label"]] = "Sioux Lunch"

In [ ]:
df.loc[(df["Amount"]<0) & (df["Description"].str.contains("Landgraaf", case= False)),["Label"]] = "House Expense"

In [ ]:
df.loc[(df["Amount"]<0) & (df["Description"].str.contains("brabant water", case= False)),["Label"]] = "Water"

In [ ]:
df.loc[(df["Amount"]<0) & (df["Description"].str.contains("KPN", case= False)),["Label"]] = "Internet"

In [ ]:
df.loc[(df["Amount"]<0) & (df["Description"].str.contains("Notariskantoor", case= False)),["Label"]] = "Notary"

In [ ]:
df.loc[(df["Amount"]<0) & (df["Description"].str.contains("REVOLT21", case= False)),["Label"]] = "Investment"

In [ ]:
df.loc[(df["Amount"]<0) & (df["Description"].str.contains("Chiroprac", case= False)),["Label"]] = "Chiroprac"

In [ ]:
df.loc[(df["Amount"]<0) & (df["Description"].str.contains("NL60INGB0663263891", case= False)),["Label"]] = "SGE"

In [ ]:
df.loc[(df["Amount"]<-1000) & (df["Description"].str.contains("NL79INGB0626712009", case= False)),["Label"]] = "ING Transfer"

In [ ]:
df.loc[(df["Amount"]<-1000) & (df["Description"].str.contains("NL32ABNA0455685711", case= False)),["Label"]] = "Rent"

In [ ]:
df.loc[(df["Amount"]<0) & (df["Description"].str.contains("GR-043-D", case= False)),["Label"]] = "Car Insurance"

In [ ]:
df.loc[(df["Amount"]<0) & (df["Description"].str.contains("Park", case= False)),["Label"]] = "Car Park"

In [ ]:
df.loc[(df["Amount"]<0) & (df["Description"].str.contains("Land:", case= False)),["Label"]] = "Foreign Country"

In [ ]:
df.loc[(df["Amount"]<0) & (df["Description"].str.contains("FBTO | REAAL | ANAC | ASR | SCHADEVERZEKERING | SCHADEV", case= False)),["Label"]] = "Insurance"

In [ ]:
df.loc[(df["Label"]== "ING Transfer")]

In [ ]:
chart_df = df.loc[df["Amount"]<0]
plt.pie(chart_df["Month"].value_counts(), labels = chart_df["Month"].unique(), autopct='%0.02f%%')

chart_df

In [ ]:
df.groupby("Label")["Description"].count()

In [ ]:
df_income = df.loc[df["Amount"]>0]
df_expense = df.loc[df["Amount"]<0]

In [ ]:
df.loc[(df["Amount"]>0) & (df["Description"].str.contains("Sioux Expats"))]

In [ ]:
df.loc[(df["Description"].str.contains("BEA"))]

In [ ]:
df["Label"].unique()

In [ ]:
sns.catplot(data = (df_expense.loc[(df["Amount"]<0) & (df["Amount"]>-500)]), y = "Label", x= "Amount", col="Month", kind = "strip")
plt.show()

In [ ]:
sns.catplot(data = (df_expense.loc[(df["Amount"]<0) & (df["Amount"]>-500)]), y = "Label", x= "Amount", hue="Month", kind = "strip")
plt.show()

In [ ]:
month_list = ("January","February","March","April","May","June","July","August","September","October","November","December")
for i in df["month"].unique():
    print(i)

In [ ]:
month_list = ("January","February","March","April","May","June","July","August","September","October","November","December")

for i in month_list:
    g = sns.catplot(data = (df.loc[(df["amount"]<0) & (df["amount"]>-500) & (df["month"] == i)]), y = "label", x= "amount", hue="year", kind = "strip")
    g.set_xlabels(label = i)

In [ ]:
sns.boxplot(x = df.Amount)
plt.show()

In [ ]:
with pd.ExcelWriter('output.xlsx') as writer:  
    df.to_excel(writer, sheet_name="all")
    df_income.to_excel(writer, sheet_name='income')
    df_expense.to_excel(writer, sheet_name='expense')